.cover{
  position: fixed;
  color: red;
  font-size: 32px;
  top: 0;
  left: 0;
  width: 800px;
  height: 600px;
}

.cover.active{
  background-color: rgba(0, 0, 0, 0.8);
}

.cover.disactive{
}

.cover button{
  display: block;
  margin: 10px;
}